.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(84, 81, 93, 0.75) 105.51%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.logo {
  position: absolute;
  width: 180px;
  height: 49px;
  left: 26px;
  top: 29px;
  color: #FFC907;
  font-family: 'Griffy', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
}


div ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
}

div ul li {
  margin: 0 100px 0 0;
  display:inline-block;
}

div a {
  display:block;
  padding:0 10px;
  color:#FFF;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
}

div a:hover {
  background-color: #000000;
}
div ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

div ul li:hover > ul {
  display:inherit;
}

div ul ul li {
  min-width:170px;
  float:none;
  display:list-item;
  position: relative;
  z-index: 1;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 26px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 24px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5e6464;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5e6464;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}
