<div style="display: flex">
  <div>
    <div  *ngFor="let g of genres">
      <ul>
        <button (click)="withGenre(g.id)">
          <div class="nameGenre">{{g.name}}</div>
        </button>
      </ul>
    </div>
  </div>

  <app-genre></app-genre>
</div>

    <div class="pagination">
      <table>
        <tr
          *ngFor="let r  of movieList | paginate: { itemsPerPage: 20, currentPage: currentPage , totalItems: total }"></tr>
      </table>
      <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>


