.filmBox {
  width: 168px;
  height: 302px;
  box-sizing: border-box;
  line-height: 7px;
  padding: 5px;
  margin: 10px;

}
.titleFilm{
  width: 167px;
  height: 20px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.imageBox {
  height: 200px;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.36));
  border-radius: 7px;
}
a{
  text-decoration: none;
}
.filmList{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-top: 400px;
}

.date{
  width: 60px;
  height: 11px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #ddee1d;
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration-color: #FFFFFF;
  width: 100px;
  font-family: 'Montserrat', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ddee1d;
}
.movieList{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.carousel-slide{
position: absolute;
  top: 0;
  right: 0;
}

.inputSearch{
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 37px;
  background: linear-gradient(90deg, #4d4646 17.76%, rgba(0.687449,0, 0, 0) 41.44%, rgba(0, 0, 0, 0) 100%);
  border-radius: 18px;
  border-color: white;
  right: 30px;
}
.carouser-indicators button
{
opacity: 30%;
  width: 20px;
}
