<div class="movieList">
  <div >
    <ul class="menu">
      <li>Home</li>
      <li>Popular</li>
      <li>Now Playing</li>
    </ul>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px">

    <div>
      <form  class="example" (submit)="getFilmByName()" [formGroup]="form">
        <input formControlName="searchString" class="inputSearch" type="text" placeholder="Search">
      </form>
    </div>
        <app-carousel class="carousel-slide"></app-carousel>

    <div class="filmList">
      <div *ngFor="let result of movieList">
        <a routerLink="{{result.id}}">

          <div class="filmBox">
            <img class="imageBox" src="{{urls}}{{result.poster_path}}" alt="photoFilm">
            <div>
              <p class="titleFilm">{{result.original_title}}</p>
              <p class="date"> {{result.release_date}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <table>
    <tr *ngFor="let r  of movieList | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: total }"></tr>
  </table>
  <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>
