/* You can add global styles to this file, and also import other style files */
body{
  width: 100%;
  height: 907px;
  background: linear-gradient(90deg, #000000 17.76%, rgba(0, 0, 0, 0.687449) 41.44%, rgba(196, 196, 196, 0) 100%);
  margin: 0;
  padding: 0;
}
.dark {
  background: snow;
}
